.formBox {
	grid-column: col-start 1 / col-end 8;
	display: grid;

	margin-bottom: 5rem;
	h3 {
		font-weight: 300;
		font-size: 3.5rem;
		margin: 8rem 1rem;
		padding: 1rem 3rem;
		justify-self: center;
		background-color: var(--base_color_dark);
		color: var(--base_color_light);
	}
	form {
		display: grid;
	}
}

button {
	justify-self: center;
	text-decoration: none;
	text-transform: uppercase;
	border: none;
	cursor: pointer;
	display: inline-block;
	padding: 1rem 2rem;
	background-color: var(--base_color_dark);
	color: var(--base_color_light);
	font-size: 2rem;
	font-weight: 300;
	transition: all .2s;
	border: 2px solid transparent;
	&:hover {
		background-color: var(--base_color_light);
		color: var(--base_color_dark);
		border: 2px solid var(--base_color_dark);
	}
	&:disabled {
		background-color: gray;
		cursor: auto;
		&:hover {
			background-color: gray;
			color: var(--base_color_light);
			border: 2px solid transparent;
		}
	}
}

//INPUT
.form_group {
	margin: 1.5rem;
	display: grid;
	grid-template-columns: 1fr;
}
.form_input {
	color: inherit;
	border: 2px solid var(--base_color_dark);
	font-size: 1.6rem;
	text-align: center;
	padding: 1.5rem 3rem;
	text-transform: uppercase;
	font-family: inherit;
	box-sizing: inherit;

	&:focus {
		box-shadow: 0rem 1.5rem 4rem rgba(var(--base_color_dark), .2);
		outline: none;
	}

	&::-webkit-input-placeholder {
		color: var(--base_color_dark);
	}

	&:focus:invalid {
		border-bottom: 3px solid orangered;
	}
}

.required {
	&::-webkit-input-placeholder {
		color: red;
	}
}

.form_label {
	font-size: 1.4rem;
	text-transform: uppercase;
	text-align: center;
	padding: 1.5rem 3rem;
	display: block;
	transition: all .3s;
}

.form_input:placeholder-shown + .form_label {
	opacity: 0;
	visibility: hidden;
	transform: translateY(-5rem);
}

.invalid {
	border: 1px solid red;
	background-color: rgb(247, 152, 141);
}
.validationError {
	font-size: 1.4rem;
	text-align: center;
	color: red;
	display: block;

	text-transform: uppercase;
	text-align: center;
	padding: 1.5rem 3rem;
	transition: all .3s;
}
