*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}
:root {
	--font_family_4: 'Open Sans', sans-serif;
	--base_color_dark: #252525;
	--base_color_light: white;
}
html {
	box-sizing: border-box;
	font-size: 62.5%;
}

body {
	font-family: var(--font_family_4);
	font-weight: 300;
	font-size: 4rem;
}

// .App {
// 	display: grid;
// 	grid-template-columns: [full-start] minmax(3rem, 1fr) [ center-start]
// 		repeat(8, [col-start] minmax(min-content, 12rem) [col-end]) [center-end]
// 		minmax(3rem, 1fr) [full-end];
// 	grid-template-rows: minmax(min-content, 35vh)
// 		minmax(min-content, max-content);
// 	margin: 8rem 5rem;
// }
